.new-products .new-item{
    margin-bottom: 20px;
}
.new-products .product-image{
    width: 70px;
    margin-right: 10px;
}
.new-item>div{
    display: inline-block;
}
.product-image img{
    width: 100%;
}
.product-info{
    vertical-align:middle;
    max-width: 140px;
    font-size: 14px;
    line-height: 20px;
}
.product-info em{
    font-style: normal;
    margin-right: 5px;
}
.product-info .price{
    display: block;
    color: #8cc93b;
    font-weight: 700;
}
.product-info .name{
    color: #333;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    height: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;
}
.product-info span.money{
    margin-left: 10px;
}
.product-image a:hover{
    cursor: pointer;
}