<ul class="new-products">
    <li class="new-item">
        <div class="product-image">
            <a href="">
                <img alt="Espadrilles 2" src="../../../assets/img/product_demo.jpeg">
            </a>
        </div>
        <div class="product-info">
            <a href="">
                <span class="name">香奈儿包包</span>
            </a>
            <span class="price"><em class="unit">¥</em>200</span>
        </div>
    </li>
    <li class="new-item">
        <div class="product-image">
            <a href="">
                <img alt="Espadrilles 2" src="../../../assets/img/product_demo.jpeg">
            </a>
        </div>
        <div class="product-info">
            <a href="">
                <span class="name">香奈儿包包</span>
            </a>
            <span class="price"><em class="unit">¥</em>200</span>
        </div>
    </li>
    <li class="new-item">
        <div class="product-image">
            <a href="">
                <img alt="Espadrilles 2" src="../../../assets/img/product_demo.jpeg">
            </a>
        </div>
        <div class="product-info">
            <a href="">
                <span class="name">香奈儿包包</span>
            </a>
            <span class="price"><em class="unit">¥</em>200</span>
        </div>
    </li>
</ul>