<ul class="new-products">
    <li class="new-item" *ngFor="let item of items" >
        <div class="product-image" >
            <a (click)="gotoProductDetail(item.productId)">
                <img [src]="item.images|filterImage">
            </a>
        </div>
        <div class="product-info">
            <div>
                <span class="name">{{item.name}}</span>
                <div>{{item.brand}}</div>
            </div>
            <span class="money"><em class="rmb">¥</em>{{item.price}}</span>
        </div>
    </li>
</ul>