<div class="banner-wrap">
    <div class="banner-overlay-color" style="background-color: rgba(0,0,0,0.4)"></div>
    <div class="banner-header" style="background-image: url(https://cdn.shopify.com/s/files/1/1511/4592/files/banner-img-shop.jpg?7168648318872766401); min-height:460px;">
        <div class="banner-content">
            <h1 class="title-page" data-color="#333333">
                真稀古董淘起来！
            </h1>
        </div>
    </div>
</div>
<div class="site-content-inner">
    <div class="container">
        <div class="row">

            <!-- 右侧商品列表 -->
            <div id="primary" class="content-area col-xs-12 col-sm-8 col-md-9 has-sidebar-left">
                <div id="main" class="site-main">
                    <div class="product-top" [ngClass]="{'block-loading':loading}">
                        <p class="products-result-count"> 总共 <span class="text-orange">{{totalElements}}</span> 件商品</p>
                        <form class="products-ordering" method="get">
                            <div class="sort-by">
                                <span class="lable-title">按</span>
                                <div class="select-wrapper-sm">
                                    <select (change)="changeSort($event.target.value)">
                                        <option value="createTime-DESC">时间，从新到旧</option>
                                        <option value="createTime-ASC">时间，从旧到新</option>
                                        <option value="price-ASC">价格，从低到高</option>
                                        <option value="price-DESC">价格，从高到低</option>
                                    </select>
                                </div>
                                <span class="lable-title">排序</span>
                            </div>
                            <div class="sort-number-show">
                                <span class="lable-title">显示：</span>
                                <div class="select-wrapper-sm">
                                    <select (change)="changePageSize($event.target.value)">
                                        <option value="12">12</option>
                                        <option value="24">24</option>
                                        <option value="36">36</option>
                                    </select>
                                </div>
                                <span class="lable-title">件</span>
                            </div>
                        </form>
                        <div class="bg-striped"></div>
                    </div>
                    <div class="products row columns-4 products-grid products-wraps" id="collection-product">
                        <div class="product-item view-grid" style="display:block; " *ngFor="let product of productsList" >
                            <div class="product-item-container">
                                <div class="product-media" (click)="gotoProductDetail(product.productId)">
                                    <div class="product-images-wrap">
                                        <figure class="product-first-figure">
                                            <a >
                                                <img alt="商品图片" [src]="product.images">
                                            </a>
                                        </figure>
                                    </div>
                                    <a  title="马上查看" class="quick-view-link quick-view-btn">
                                        <i class="fa fa-eye"></i>
                                        <span>马上查看</span>
                                    </a>
                                </div>
                                <div class="product-info">
                                    <h3 class="product-name">
                                        <a href="/products/espadrilles-2">{{product.brand}} {{product.name}}</a>
                                    </h3>
                                    <span class="price">
                                    <span class="money"><em class="rmb">¥</em>{{product.price}}</span>
                                </span>
                                    <div class="product-button-action">
                                        <a href="#" class="button add-to-cart" title="Add to Cart"><i class="iconfont-yitala">&#xe6c8;</i>添加到购物车</a>
                                        <!--<a class="wishlist-login  button add_to_wishlist " href="javascript:void(0)" title="Add to wishlist">-->
                                            <!--<span class="ti-heart"><i class="iconfont-yitala">&#xe6e8;</i>收藏</span>-->
                                        <!--</a>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="products-pagination" *ngIf="totalElements>0">
                        <ngb-pagination [collectionSize]="totalElements" [(page)]="page" [pageSize]="size"
                                        [maxSize]="5" [boundaryLinks]="true" (pageChange)="queryProductsByType()"></ngb-pagination>
                    </div>
                    <div class="products-sell-out text-center" *ngIf="totalElements==0">
                        <img src="../../../assets/img/soldout2.png" alt="卖光了">
                    </div>
                </div>
            </div>

            <!-- 左侧商品推荐 -->
            <div id="secondary" class="sidebar shop-sidebar-area col-xs-12 col-sm-4 col-md-3 sidebar-right">
                <!-- Widget Categories -->
                <div class="widget widget_categories" style="position: relative">
                    <h4 class="title-sidebar">商品分类</h4>
                    <div [ngClass]="{'block-loading':typeLoading}">
                        <ul class="product-categories" >
                            <li class="owl-carousel cat-item" [ngClass]="{'active':type=='earring'}" (click)="changeType('earring')"><a ><i class="iconfont-yitala">&#xe618;</i>耳钉</a></li>
                            <li class="owl-carousel cat-item" [ngClass]="{'active':type=='necklace'}" (click)="changeType('necklace')"><a ><i class="iconfont-yitala">&#xe699;</i>项链</a></li>
                            <li class="owl-carousel cat-item" [ngClass]="{'active':type=='bracelet'}" (click)="changeType('bracelet')"><a ><i class="iconfont-yitala">&#xe61f;</i>手链</a></li>
                            <li class="owl-carousel cat-item" [ngClass]="{'active':type=='ring'}" (click)="changeType('ring')"><a ><i class="iconfont-yitala">&#xe640;</i>戒子</a></li>
                            <li class="owl-carousel cat-item" [ngClass]="{'active':type=='brooch'}" (click)="changeType('brooch')"><a ><i class="iconfont-yitala">&#xe60b;</i>胸针</a></li>
                            <li class="owl-carousel cat-item" [ngClass]="{'active':type=='bag'}" (click)="changeType('bag')"><a ><i class="iconfont-yitala">&#xe66b;</i>包包</a></li>
                            <li class="owl-carousel cat-item" [ngClass]="{'active':type=='watch'}" (click)="changeType('watch')"><a ><i class="iconfont-yitala">&#xe628;</i>手表</a></li>
                            <li class="owl-carousel cat-item" [ngClass]="{'active':type=='other'}" (click)="changeType('other')"><a ><i class="iconfont-yitala">&#xe633;</i>其他</a></li>
                        </ul>
                        <div class="bg-striped"></div>
                    </div>

                </div>

                <div class="widget widget_new">
                    <h4 class="title-sidebar" style="position: relative">新品推荐 <span class="new-span"> new</span></h4>
                    <new-products [items]="randomList"></new-products>
                </div>
            </div>

        </div>
    </div>
</div>