<div class="banner-wrap">
    <div class="banner-overlay-color" style="background-color: rgba(0,0,0,0.4)"></div>
    <div class="banner-header" style="background-image: url(https://cdn.shopify.com/s/files/1/1511/4592/files/banner-img-shop.jpg?7168648318872766401); min-height:460px;">
        <div class="banner-content">
            <h3 class="title-page" data-color="#333333">
                Grid Category Left Sidebar
            </h3>
            <div class="breadcrumb-wrap">
                <nav class="breadcrumb-trail breadcrumbs">
                    <ul class="trail-items">
                        <li class="trail-item trail-begin">
                            <a href="/"><span>Home</span></a>
                        </li>
                        <li class="trail-item trail-end">
                            <span>collections / all</span>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="site-content-inner">
    <div class="container">
        <div class="row">

            <!-- 右侧商品列表 -->
            <div id="primary" class="content-area col-xs-12 col-sm-8 col-md-9 has-sidebar-left">
                <div id="main" class="site-main">
                    <div class="product-top">
                        <p class="products-result-count"> 总共 118 件商品</p>
                        <form class="products-ordering" method="get">
                            <div class="sort-by"> <span class="lable-title">Sort by</span>
                            </div>
                            <div class="sort-number-show">
                                <span class="lable-title">Show:</span>
                            </div>
                        </form>
                    </div>
                    <div class="products row columns-3 products-grid products-wraps" id="collection-product">
                        <!-- Created by Andy 13/10/2016 -->
                        <div class="product-item view-grid" style="display:block; " (click)="gotoProductDetail('1')">
                            <img alt="Espadrilles 2" src="../../../assets/img/product_demo.jpeg">
                        </div>
                        <div class="product-item view-grid" style="display:block; ">
                            <img alt="Espadrilles 2" src="../../../assets/img/product_demo.jpeg">
                        </div>
                        <div class="product-item view-grid" style="display:block; ">
                            <img alt="Espadrilles 2" src="../../../assets/img/product_demo.jpeg">
                        </div>
                        <div class="product-item view-grid" style="display:block; ">
                            <img alt="Espadrilles 2" src="../../../assets/img/product_demo.jpeg">
                        </div>
                        <div class="product-item view-grid" style="display:block; ">
                            <img alt="Espadrilles 2" src="../../../assets/img/product_demo.jpeg">
                        </div>
                        <div class="product-item view-grid" style="display:block; ">
                            <img alt="Espadrilles 2" src="../../../assets/img/product_demo.jpeg">
                        </div>
                        <div class="product-item view-grid" style="display:block; ">
                            <img alt="Espadrilles 2" src="../../../assets/img/product_demo.jpeg">
                        </div>
                        <div class="product-item view-grid" style="display:block; ">
                            <img alt="Espadrilles 2" src="../../../assets/img/product_demo.jpeg">
                        </div>
                        <div class="product-item view-grid" style="display:block; ">
                            <img alt="Espadrilles 2" src="../../../assets/img/product_demo.jpeg">
                        </div>
                    </div>
                    <div class="products-pagination">
                        <ngb-pagination [collectionSize]="70" [(page)]="page" [maxSize]="5" [boundaryLinks]="true"></ngb-pagination>
                    </div>
                </div>
            </div>

            <!-- 左侧商品推荐 -->
            <div id="secondary" class="sidebar shop-sidebar-area col-xs-12 col-sm-4 col-md-3 sidebar-right">
                <!-- Widget Categories -->
                <div class="widget widget_categories">
                    <h4 class="title-sidebar">Categories</h4>
                    <ul class="product-categories">
                        <li class="owl-carousel cat-item "><a href="/collections/across-bags?view=left_grid">Across Bags</a>5</li>
                        <li class="owl-carousel cat-item "><a href="/collections/bycicle?view=left_grid">Bycicle</a>6</li>
                        <li class="owl-carousel cat-item "><a href="/collections/dresses?view=left_grid">Dresses</a>5</li>
                        <li class="owl-carousel cat-item "><a href="/collections/food?view=left_grid">Food</a>5</li>
                        <li class="owl-carousel cat-item "><a href="/collections/lighting?view=left_grid">Lighting</a>6</li>
                    </ul>
                </div>

                <div class="widget widget_brands">
                    <h4 class="title-sidebar">Brands</h4>
                    <ul class="product-brands">
                        <li class="brand-item">
                            <a href="/collections/all/blank?view=left_grid" title="Narrow selection to products matching tag Blank">Blank</a>(2)
                        </li>
                        <li class="brand-item">
                            <a href="/collections/all/x-shop?view=left_grid" title="Narrow selection to products matching tag x-shop">x-shop</a>(1)
                        </li>
                        <li class="brand-item">
                            <a href="/collections/all/zara?view=left_grid" title="Narrow selection to products matching tag Zara">Zara</a>(3)
                        </li>
                    </ul>
                </div>

                <div class="widget widget_new">
                    <h4 class="title-sidebar">新品推荐</h4>
                    <new-products></new-products>
                </div>
            </div>

        </div>
    </div>
</div>