<div class="full-screen">
    <div class="site-content-inner">
        <div class="page-404">
            <div class="banner-header">
                <div class="page-404-content">
                    <div class="account-logo">
                        <img src="../../../assets/img/logo11.png"  alt="yitala store">
                    </div>
                    <h1 class="title-404">
                        出了点问题!
                    </h1>
                    <p>你访问的页面似乎不存在，是否<a [routerLink]="['/home']">回到主页</a> ？</p>
                </div>
            </div>
        </div>
    </div>
</div>