.bg-404{
    background-image: url(http://oflt40zxf.bkt.clouddn.com/404.jpg);
    background-color:#ffffff;
}
.account-logo img{
    width: 300px;
}
.page-404-content .title-404{
    margin-bottom: 20px;
}