<div class="team-container">
    <div class="team-bg-img">
    </div>
    <h1 class="team-msg">关于我们</h1>
</div>
<div class="site-content-inner">
    <div class="container">
        <div class="row info-card">
            <div class="col-md-6 col-sm-12">
                <div class="text-block">
                    <p class="text-block-title">YINTAGE是国内第一家拥有自身官网的vintage平台</p>
                    <p>目前YINTAGE的vintage大部分来自美国，但所销售的vintage产地并非仅来自美国，还包括法国、意大利、澳大利亚、日本等国家。YINTAGE主要立志于为国内vintage爱好者提供一个购买vintage和欣赏vintage的正式渠道，并试图通过该平台，不仅让vintage爱好者，而且是让更多人了解vintage，喜欢vintage！
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 text-center">
                <img src="http://ojp8ivtxn.bkt.clouddn.com/1.jpeg" alt="">
            </div>
        </div>
        <div class="row info-card">
            <div class="col-md-6 col-sm-12 text-center">
                <img src="http://ojp8ivtxn.bkt.clouddn.com/2.jpeg" alt="">
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="text-block">
                    <p class="text-block-title">选购独一无二的孤款vintage首饰</p>
                    <p> 这里有您想要的孤品vintage。</p>
                    <p>这里的vintage可塑造您优质而独特的审美品味。</p>
                    <p>这里需要您们。</p>
                </div>
            </div>
        </div>
        <div class="row info-card">
            <div class="col-md-6 col-sm-12">
                <div class="text-block">
                    <p class="text-block-title">销售设计感极强的vintage首饰</p>
                    <p>打开YINTAGE网站vintage首饰一目了然。</p>
                     <p>自主选择您最爱的vintage。</p>
                    <p>与店主personal的联系。</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 text-center">
                <img src="http://ojp8ivtxn.bkt.clouddn.com/3.jpeg" alt="">
            </div>
        </div>
        <div class="row info-card">
            <div class="col-md-6 col-sm-12 text-center">
                <img src="http://ojp8ivtxn.bkt.clouddn.com/4.jpeg" alt="">
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="text-block">
                    <p class="text-block-title">参与到国际的设计大舞台吧</p>
                    <p>见识国际的大牌设计。</p>
                    <p>学习vintage的审美观。</p>
                    <p>挑选最美的vintage首饰。</p>
                </div>
            </div>
        </div>
        <div class="row info-card" >
            <div class="col-md-6 col-sm-12">
                <div class="text-block">
                    <p class="text-block-title">YINTAGE平台的创史</p>
                    <p>
                        YINTAGE平台首创于2016年12月份于福州／中国，立志于满足国内vintage爱好者对vintage真品选择和欣赏的愿望。鉴于此，YINTAGE平台创始人David和Yitala决定开发本网站，通过自己设计网站，编写代码，功能测试，将近一年之久，终于让本网站上线。YINTAGA期待更多优秀的人才及vintage爱好者、vintage店主加入我们的平台！
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 text-center">
                <img src="http://ojp8ivtxn.bkt.clouddn.com/5.jpeg" alt="">
            </div>
        </div>

    </div>
</div>