body{
    color: #969696;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fff;
    line-height: 20px;
    padding: 5px 30px 5px 10px;
    color: #333;
}

@font-face {
    font-family: 'iconfont';  /* project id 315415 */
    src: url('//at.alicdn.com/t/font_lmst9mvej6xkcsor.eot');
    src: url('//at.alicdn.com/t/font_lmst9mvej6xkcsor.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_lmst9mvej6xkcsor.woff') format('woff'),
    url('//at.alicdn.com/t/font_lmst9mvej6xkcsor.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_lmst9mvej6xkcsor.svg#iconfont') format('svg');
}
.iconfont-yitala{
    font-family: 'iconfont';
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

/* mobilemenu */
@media screen and (min-width: 1024px){
    .mobile-navbar{
        display: none;
    }
    .mobilemenu{
        display: none;
    }

}
@media screen and (max-width: 1023px) {
    .mobile-navbar{
        display:block;
    }
    .mobilemenu {
        position: fixed;
        z-index: 1009;
        left: 0;
        top: 0 !important;
        right: 0;
        height: 100%;
        width: 100%;
        visibility: hidden;
        -webkit-transition: visibility 0s ease 0.6s;
        -o-transition: visibility 0s ease 0.6s;
        transition: visibility 0s ease 0.6s;
    }
    .mobilemenu-content {
        position: fixed;
        z-index: 1;
        top: 0 !important;
        left: 0;
        height: 100%;
        width: 100%;
        max-width: 480px;
        line-height: 50px;
        font-weight: bold;
        overflow: auto;
        -webkit-transform: translateX(-120%);
        transform: translateX(-120%);
        background: #ffffff;
        -webkit-transition: all 0.5s cubic-bezier(0.25, 1, 0.3, 1) 0.3s;
        -o-transition: all 0.5s cubic-bezier(0.25, 1, 0.3, 1) 0.3s;
        transition: all 0.5s cubic-bezier(0.25, 1, 0.3, 1) 0.3s;
    }
    .mobilemenu-header {
        position: fixed;
        left: 0;
        top: -50px !important;
        width: 100%;
        max-width: 480px;
        height: 50px;
        font-size: 16px;
        font-weight: bold;
        line-height: 50px;
        padding: 0 20px;
        background: #df5c53;
        color: #ffffff;
        text-transform: uppercase;
        z-index: 2;
        -webkit-transition: top 0.3s ease 0s;
        -o-transition: top 0.3s ease 0s;
        transition: top 0.3s ease 0s;
    }
    .mobilemenu-toggle {
        text-decoration: none;
    }
    .mobilemenu-toggle:hover,
    .mobilemenu-toggle:focus {
        text-decoration: none;
    }
    .mobilemenu .mobilemenu-toggle {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        color: #ffffff;
    }
    .mobilemenu .mobilemenu-toggle:before,
    .mobilemenu .mobilemenu-toggle:after {
        content: '';
        position: absolute;
        top: 22px;
        right: 20px;
        height: 3px;
        width: 20px;
        background-color: #ffffff;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    .mobilemenu .mobilemenu-toggle:before {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .mobilemenu .mobilemenu-toggle:after {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    .mobilemenu.active {
        visibility: visible;
        -webkit-transition: visibility 0s ease 0s;
        -o-transition: visibility 0s ease 0s;
        transition: visibility 0s ease 0s;
    }
    .mobilemenu.active .mobilemenu-content {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        -webkit-transition: all 0.5s cubic-bezier(0.25, 1, 0.3, 1) 0s;
        -o-transition: all 0.5s cubic-bezier(0.25, 1, 0.3, 1) 0s;
        transition: all 0.5s cubic-bezier(0.25, 1, 0.3, 1) 0s;
    }
    .mobilemenu.active .mobilemenu-header {
        top: 0 !important;
        -webkit-transition: top 0.3s ease 0.5s;
        -o-transition: top 0.3s ease 0.5s;
        transition: top 0.3s ease 0.5s;
    }
    .mobile-navbar ul.mobile-nav {
        display: block;
        padding-top: 50px;
    }
    .mobile-navbar ul.mobile-nav li {
        position: relative;
        padding: 0;
        -webkit-transition: all 0.1s ease;
        -o-transition: all 0.1s ease;
        transition: all 0.1s ease;
    }
    .mobile-navbar ul.mobile-nav li a {
        display: block;
        font-size: 15px;
        line-height: 20px;
        padding: 12px 50px 12px 20px;
        font-weight: bold;
        color: #333745;
        text-transform: uppercase;
        background: transparent;
        text-decoration: none;
        border-bottom: 1px solid #f0f0f0;
        -webkit-transition: all 0.1s ease;
        -o-transition: all 0.1s ease;
        transition: all 0.1s ease;
    }
    .mobile-navbar ul.mobile-nav li:hover > a,
    .mobile-navbar ul.mobile-nav li.submenu-open > a {
        background-color: #f8f8f8;
        color: #f82e56;
        text-decoration: none;
    }
    .mobile-navbar ul.mobile-nav li .arrow {
        position: absolute;
        z-index: 100;
        width: 50px;
        height: 45px;
        top: 0;
        right: 0;
        font-family: 'FontAwesome';
        font-size: 18px;
        line-height: 45px;
        text-align: center;
        cursor: pointer;
        -webkit-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
    .mobile-navbar ul.mobile-nav li .arrow:before {
        color: #333745;
        content: "\f105";
    }
    .mobile-navbar ul.mobile-nav li .arrow:hover:before {
        color: #f82e56;
    }
    .mobile-navbar ul.mobile-nav li.submenu-open > .arrow {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    .mobile-navbar ul.mobile-nav li ul {
        display: none;
        padding: 0;
        margin: 0;
        opacity: 0;
        list-style: none;
        -webkit-transition: opacity 0.1s ease;
        -o-transition: opacity 0.1s ease;
        transition: opacity 0.1s ease;
    }
    .mobile-navbar ul.mobile-nav li ul a {
        padding-left: 40px;
    }
    .mobile-navbar ul.mobile-nav li ul ul a {
        padding-left: 60px;
    }
    .mobile-navbar ul.mobile-nav li ul ul ul a {
        padding-left: 80px;
    }
    .mobile-navbar ul.mobile-nav li ul ul ul ul a {
        padding-left: 100px;
    }
    .mobile-navbar ul.mobile-nav li ul ul ul ul a {
        padding-left: 120px;
    }
    .mobile-navbar ul.mobile-nav li.submenu-open > ul {
        opacity: 1;
    }
}
@media screen and (min-width: 481px) {
    .mobilemenu:after {
        /* overlay layer */
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 120%;
        height: 120%;
        background: transparent;
        cursor: pointer;
        -webkit-transition: background 0.3s ease 0.3s;
        -o-transition: background 0.3s ease 0.3s;
        transition: background 0.3s ease 0.3s;
    }
    .mobilemenu.active:after {
        background: rgba(0, 0, 0, 0.6);
        -webkit-transition: background 0.3s ease;
        -o-transition: background 0.3s ease;
        transition: background 0.3s ease;
    }
}
.mobile-nav>li{
    position: relative;
    display: block;
}

.mobile-nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
    font-family: "Montserrat",sans-serif;
}

.header-fixed .main-header{
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.4);
    position: fixed!important;
    top:0px;
}
.header-fixed .header-element,.header-fixed .header-icon{
    height: 74px!important;
}

.main-header .logo{
    height: 74px!important;
}
.main-header .logo img{
    vertical-align: top;
    height: 74px!important;
}

header.header-fixed .main-header .mobile-navigation{
    margin-top: 16px!important;
}
.main-header .fa-shopping-cart{
    font-size: 34px;
    position: relative;
}
.main-header .fa-shopping-cart:before{
    position: absolute;
    top: 17px;
    left: -10px;
}


.carousel {
    position: relative
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden
}

.carousel-item {
    position: relative;
    display: none;
    width: 100%
}

@media (-webkit-transform-3d) {
    .carousel-item {
        -webkit-transition: -webkit-transform .6s ease-in-out;
        transition: -webkit-transform .6s ease-in-out;
        transition: transform .6s ease-in-out;
        transition: transform .6s ease-in-out,-webkit-transform .6s ease-in-out;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-perspective: 1000px;
        perspective: 1000px
    }
}

@supports ((-webkit-transform: translate3d(0,0,0)) or (transform:translate3d(0,0,0))) {
    .carousel-item {
        -webkit-transition:-webkit-transform .6s ease-in-out;
        transition: -webkit-transform .6s ease-in-out;
        transition: transform .6s ease-in-out;
        transition: transform .6s ease-in-out,-webkit-transform .6s ease-in-out;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-perspective: 1000px;
        perspective: 1000px
    }
}

.carousel-item-next,.carousel-item-prev,.carousel-item.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.carousel-item-next,.carousel-item-prev {
    position: absolute;
    top: 0
}

@media (-webkit-transform-3d) {
    .carousel-item-next.carousel-item-left,.carousel-item-prev.carousel-item-right {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }

    .active.carousel-item-right,.carousel-item-next {
        -webkit-transform: translate3d(100%,0,0);
        transform: translate3d(100%,0,0)
    }

    .active.carousel-item-left,.carousel-item-prev {
        -webkit-transform: translate3d(-100%,0,0);
        transform: translate3d(-100%,0,0)
    }
}

@supports ((-webkit-transform: translate3d(0,0,0)) or (transform:translate3d(0,0,0))) {
    .carousel-item-next.carousel-item-left,.carousel-item-prev.carousel-item-right {
        -webkit-transform:translateZ(0);
        transform: translateZ(0)
    }

    .active.carousel-item-right,.carousel-item-next {
        -webkit-transform: translate3d(100%,0,0);
        transform: translate3d(100%,0,0)
    }

    .active.carousel-item-left,.carousel-item-prev {
        -webkit-transform: translate3d(-100%,0,0);
        transform: translate3d(-100%,0,0)
    }
}

.carousel-control-next,.carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: .5
}

.carousel-control-next:focus,.carousel-control-next:hover,.carousel-control-prev:focus,.carousel-control-prev:hover {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9
}

.carousel-control-prev {
    left: 0
}

.carousel-control-next {
    right: 0
}

.carousel-control-next-icon,.carousel-control-prev-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat 50%;
    background-size: 100% 100%
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;
    z-index: 5;
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none
}

.carousel-indicators li {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    max-width: 30px;
    height: 5px!important;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: hsla(0,0%,100%,.5)
}

.carousel-indicators li:before {
    top: -10px
}

.carousel-indicators li:after,.carousel-indicators li:before {
    position: absolute;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 10px;
    content: ""
}

.carousel-indicators li:after {
    bottom: -10px
}

.carousel-indicators .active {
    background-color: #fff
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center
}

.carousel-response img{
    width: 100%;
    height: 100%;
}

@media (max-width: 767px){
    .carousel-response img{
        height: 100%!important;
    }
}

/** @animation **/
@-webkit-keyframes progress-bar-stripes {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 40px 40px;
    }
}
@-moz-keyframes progress-bar-stripes {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 40px 40px;
    }
}
@keyframes progress-bar-stripes {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 40px 40px;
    }
}

.spinner {
    width: 35px;
    height: 35px;
    display: inline-block;
    position: relative;
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #df5c53;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
      }
}

/** @common **/
.text-orange{
    color: #df5c53
}
.text-success{
    color: #4CAF50;
}

.full-screen{
    position: fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right: 0px;
    z-index: 1000;
    background-color: #fff;
}
.full-screen-scroll{
    height: 100%;
    overflow-y: auto;
    position: relative;
}
.mb15{
    margin-bottom: 15px;
}
.ml10{
    margin-left: 10px;
}
.mr10{
    margin-right: 10px;
}

.push-right{
    float: right;
}
.select-wrapper-sm{
    display: inline-block;
    position: relative;
}
.select-wrapper:before, .select-wrapper-sm:before {
    content: '\f107';
    position: absolute;
    right: 10px;
    color: #666;
    font-family:'FontAwesome';
    font-size: 18px;
    margin-top: 1px;
    pointer-events: none;
}

.block-loading .bg-striped{
    display: block;
}
.bg-striped{
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    margin: 0;
    padding: 0;
    opacity: 0.25;
    background-color: #fff;
    background-image: linear-gradient(-45deg, #bfbfbf 25%, transparent 25%, transparent 50%, #bfbfbf 50%, #bfbfbf 75%, transparent 75%, transparent);
    background-size: 40px 40px;
    -webkit-animation: progress-bar-stripes 0.5s linear infinite;
    -moz-animation: progress-bar-stripes 0.5s linear infinite;
    animation: progress-bar-stripes 0.5s linear infinite;
}

.new-span{
    background-color: #0bc39f;
    color: #fff;
    font-size: 14px;
    padding: 2px 5px;
    border-radius: 20px;
    display: inline-block;
    text-transform: none;
    position: absolute;
    top:3px;
}
.discount{
    background-color: #df5c53;
    color: #fff;
    font-size: 12px;
    font-weight: normal;
    padding: 0px 10px;
    border-radius: 20px;
    margin-bottom: 0px;
    line-height: 23px;
}
del.small-price{
    color: #aaa;
    font-size: 15px;
}
.show-more{
    color: inherit;
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 46px;
    padding: 0 20px;
    text-transform: uppercase;
    border: 2px solid #dcdcdc;
    background-color: transparent;
}
a.show-more:hover{
    cursor: pointer;
    color: #df5c53;
    border-color: #df5c53;
}


/** @覆盖样式**/
.carousel-response *:focus{
    outline: none!important;
}
.carousel-indicators li{
    margin: 3px!important;
}
.product-top{
    padding: 20px 10px;
    margin-bottom: 10px;
    position: relative;
}
.product-content-single .col-xs-12 .zoomer{
    padding-right: 15px;
    padding-left: 15px;
}
.money{
    color: #df5c53!important;
}
em.rmb{
    font-style: normal;
    margin-right: 5px;
    font-size: 16px;
}
.rmb{
    font-style: normal;
}
.add-to-cart i{
    font-size: 20px;
    margin-right: 10px;
}
.product-button-action .button{
    font-size: 16px;
}
.has-underline .title-block::before {
    width: 120px;
}