<div class="site-content-inner shop-cart">
    <div class="container">
        <div class="row">
            <div id="primary" class="content-area col-xs-12 col-sm-12 col-md-12">
                <div id="main" class="site-main">

                    <div class="product-cart">
                            <div class="table-responsive" *ngIf="cartProducts.length>0">
                                <table class="shop_table cart" >
                                    <thead>
                                    <tr>
                                        <th class="product-thumbnail">商品</th>
                                        <th class="product-name">&nbsp;</th>
                                        <th class="product-price">价格</th>
                                        <th class="product-quantity">优惠价</th>
                                        <th class="product-subtotal">操作</th>
                                        <th class="product-remove">&nbsp;</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="cart_item" *ngFor="let item of cartProducts">
                                        <td class="product-thumbnail" data-label="Product">
                                            <a href="/products/rust-shirt-with-half-sleeves-2?variant=21300741317">
                                                <img width="120" height="144" [src]="item.images|filterImage" class="attachment-shop_thumbnail wp-post-image" >
                                            </a>
                                        </td>
                                        <td class="product-name">
                                            <a href="/products/rust-shirt-with-half-sleeves-2?variant=21300741317">
                                                {{item.name}}
                                            </a>
                                            <p>
                                                <span>{{item.description}}</span>
                                            </p>
                                        </td>
                                        <td class="product-price" data-label="Price">
                                                <span class="amount">
                                                    <span class="money"><em class="rmb">¥</em>{{item.price}}</span>
                                                </span>
                                        </td>
                                        <td class="product-subtotal" data-label="Subtotal">
                                                <span class="amount">
                                                   <span class="money"><em class="rmb">¥</em>{{item.discount?item.price*item.discount/100:item.price}}</span>
                                                </span>
                                        </td>
                                        <td class="product-remove">
                                            <a href="/cart/change?line=1&amp;quantity=0" class="remove" title="Remove this item">
                                                <i class="fa fa-trash-o"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="cart-background" *ngIf="cartProducts.length==0">
                                <div class="no-content">
                                    <span>
                                        <i class="iconfont-yitala cart-empty">
                                        &#xe622;
                                    </i>
                                    </span>
                                    <h3 class="tips">购物车还没有商品～</h3>
                                </div>
                            </div>

                        <form class="cart" *ngIf="cartProducts.length>0">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div id="shipping-calculator">
                                        <h3 class="title-shopping-cart">送货地址：</h3>
                                        <ul class="address-list">
                                            <li class="address-item" *ngFor="let item of addressArray;let i = index">
                                                <input type="radio" class="check" name="address" [(ngModel)]="order.address" [value]="item" style="position: absolute; opacity: 0;">
                                                <div class="iradio_square-red" style="position: relative;">
                                                    <ins class="iCheck-helper" ></ins>
                                                </div>
                                                <div class="locale-icon">
                                                    <i class="iconfont-yitala">&#xe669;</i>
                                                </div>
                                                <div class="info">
                                                    <div class="address-locale">{{item.address}}</div>
                                                    <div class="address-info">
                                                        <span class="name">{{item.username}}</span>
                                                        <span class="phone">{{item.phone}}</span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li *ngIf="addressArray.length > 0">
                                                <h5 class="address-create">
                                                    <a [routerLink]="['/account']"><i class="iconfont-yitala">&#xe60f;</i>创建新的送货地址</a>
                                                </h5>
                                            </li>
                                        </ul>
                                        <div *ngIf="addressArray.length == 0">
                                            <h5 class="address-create" >
                                                <a [routerLink]="['/account']"><i class="iconfont-yitala">&#xe60f;</i>去创建送货地址</a>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="shopping-cart-element-wrap">
                                        <h5 class="title-shopping-cart">买家留言：</h5>
                                        <div class="shopping-cart-element-content">
                                            <p class="field form-row form-row-wide">
                                                <textarea name="words" [(ngModel)]="order.words" class="ship-note" cols="43" rows="4"></textarea>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="shopping-cart-element-wrap">
                                        <h5 class="title-shopping-cart">总价：</h5>
                                        <div class="shopping-cart-element-content">
                                            <table class="cart-total">
                                                <tbody>
                                                <tr class="cart-subtotal">
                                                    <td>总价:</td>
                                                    <td><span class="amount"><span class="money"><em class="rmb">¥</em>{{cartTotalPrice}}</span></span>
                                                    </td>
                                                </tr>
                                                </tbody>
                                                <tfoot>
                                                <tr>
                                                    <td colspan="2">
                                                        <input type="submit" class="button" value="结算" (click)="submitOrder()">
                                                        <a [routerLink]="['/category/earring']" class="checkout-button button alt wc-forward">继续购物</a>
                                                    </td>
                                                </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-black-back fade" [ngClass]="{'in show':tipsStatus}">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="close()">×</button>
                <h4 class="modal-title">提示</h4>
            </div>
            <div class="modal-body">
                <p>您还没未选择送货地址</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="close()">关闭</button>
            </div>
        </div>
    </div>
</div>