<div class="site-content-inner shop-cart">
    <div class="container">
        <div class="row">
            <div id="primary" class="content-area col-xs-12 col-sm-12 col-md-12">
                <div id="main" class="site-main">

                    <div class="product-cart">
                        <form action="/cart" method="post" novalidate="" class="cart">
                            <div class="table-responsive">
                                <table class="shop_table cart">
                                    <thead>
                                    <tr>
                                        <th class="product-thumbnail">商品</th>
                                        <th class="product-name">&nbsp;</th>
                                        <th class="product-price">价格</th>
                                        <th class="product-quantity">数量</th>
                                        <th class="product-subtotal">总价</th>
                                        <th class="product-remove">&nbsp;</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="cart_item">
                                        <td class="product-thumbnail" data-label="Product">
                                            <a href="/products/rust-shirt-with-half-sleeves-2?variant=21300741317">
                                                <img width="120" height="144" src="//cdn.shopify.com/s/files/1/1511/4592/products/jean2_7731c1f3-202c-4de6-95d2-50347f6c49c5_small.png?v=1482766658" class="attachment-shop_thumbnail wp-post-image" alt="Rust Shirt With Half Sleeves 2">
                                            </a>
                                        </td>
                                        <td class="product-name">
                                            <a href="/products/rust-shirt-with-half-sleeves-2?variant=21300741317">
                                                Rust Shirt With Half Sleeves 2
                                            </a>
                                            <p>
                                                <span>Keep you skin care products and make-up secure when you are at home or on the road. This Meraki toilet bag has a tiful and simple design with a closure, and the size provides you with lots of room for you.</span>
                                            </p>
                                        </td>
                                        <td class="product-price" data-label="Price">
                                                <span class="amount">
                                                    <span class="money" data-currency-usd="$75.00">$75.00</span>
                                                </span>
                                        </td>
                                        <td class="product-quantity" data-label="Quantity">
                                            <div class="quantity">
                                                <input class="minus" type="button" value="-">
                                                <input class="input-text qty text" type="text" size="4" title="Qty" value="1" id="updates_21300741317" name="updates[]" min="0">
                                                <input class="plus" type="button" value="+"> </div>
                                        </td>
                                        <td class="product-subtotal" data-label="Subtotal">
                                                <span class="amount">
                                                    <span class="money" data-currency-usd="$75.00">$75.00</span>
                                                </span>
                                        </td>
                                        <td class="product-remove">
                                            <a href="/cart/change?line=1&amp;quantity=0" class="remove" title="Remove this item">
                                                <i class="fa fa-trash-o"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr class="cart_item">
                                        <td class="product-thumbnail" data-label="Product">
                                            <a href="/products/rust-shirt-with-half-sleeves-2?variant=21300741317">
                                                <img width="120" height="144" src="//cdn.shopify.com/s/files/1/1511/4592/products/jean2_7731c1f3-202c-4de6-95d2-50347f6c49c5_small.png?v=1482766658" class="attachment-shop_thumbnail wp-post-image" alt="Rust Shirt With Half Sleeves 2">
                                            </a>
                                        </td>
                                        <td class="product-name">
                                            <a href="/products/rust-shirt-with-half-sleeves-2?variant=21300741317">
                                                Rust Shirt With Half Sleeves 2
                                            </a>
                                            <p>
                                                <span>Keep you skin care products and make-up secure when you are at home or on the road. This Meraki toilet bag has a tiful and simple design with a closure, and the size provides you with lots of room for you.</span>
                                            </p>
                                        </td>
                                        <td class="product-price" data-label="Price">
                                                <span class="amount">
                                                    <span class="money" data-currency-usd="$75.00">$75.00</span>
                                                </span>
                                        </td>
                                        <td class="product-quantity" data-label="Quantity">
                                            <div class="quantity">
                                                <input class="minus" type="button" value="-">
                                                <input class="input-text qty text" type="text" size="4" title="Qty" value="1" id="updates_21300741317" name="updates[]" min="0">
                                                <input class="plus" type="button" value="+"> </div>
                                        </td>
                                        <td class="product-subtotal" data-label="Subtotal">
                                                <span class="amount">
                                                    <span class="money" data-currency-usd="$75.00">$75.00</span>
                                                </span>
                                        </td>
                                        <td class="product-remove">
                                            <a href="/cart/change?line=1&amp;quantity=0" class="remove" title="Remove this item">
                                                <i class="fa fa-trash-o"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="row">
                                <div class="col-sm-4">
                                    <!-- Added by Andy 11/10/2016 -->
                                    <div id="shipping-calculator">
                                        <h3 class="title-shopping-cart">送货地址：</h3>
                                        <div class="shopping-cart-element-content">
                                            <p class="field form-row form-row-wide">
                                                <label for="tel">手机号</label>
                                                <input type="text" id="tel" name="address[zip]">
                                            </p>
                                            <p class="field form-row form-row-wide">
                                                <label for="address">地址（*注意要具体到门牌号）</label>
                                                <input type="text" id="address" name="address[zip]">
                                            </p>
                                        </div>
                                        <div id="wrapper-response"></div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="shopping-cart-element-wrap">
                                        <h5 class="title-shopping-cart">买家留言：</h5>
                                        <div class="shopping-cart-element-content">
                                            <p class="field form-row form-row-wide">
                                                <textarea name="note" id="note" class="ship-note" cols="43" rows="4"></textarea>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="shopping-cart-element-wrap">
                                        <h5 class="title-shopping-cart">总价：</h5>
                                        <div class="shopping-cart-element-content">
                                            <table class="cart-total">
                                                <tbody>
                                                <tr class="cart-subtotal">
                                                    <td>Subtotal:</td>
                                                    <td><span class="amount"><span class="money" data-currency-usd="$75.00">$75.00</span></span>
                                                    </td>
                                                </tr>
                                                </tbody>
                                                <tfoot>
                                                <tr>
                                                    <td colspan="2">
                                                        <input type="submit" class="button" name="update_cart" value="结算">
                                                        <a href="/checkout" class="checkout-button button alt wc-forward" name="proceed">继续购物</a>
                                                    </td>
                                                </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>