.logo-footer img{
    height: 80px;
}
.footer ul>li{
    line-height: 80px;
    font-size: 18px;
}
.footer-style_1{
    padding: 30px 0;
}
.footer-bot{
    padding: 0;
}
.footer{
    background-color: #f7f7f7;
}
a.backtotop:hover{
    cursor: pointer;
}
.fixed-func-items{
    position: fixed;
    right: 30px;
    bottom:30px;
    border-radius: 3px;
    box-shadow: 0 0 8px rgba(233,92,83,0.8);
    z-index: 10;
}
ul.fixed-func-container>li{
    display: block;
    width: 45px!important;
    height: 45px!important;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    padding: 0;
}
ul.fixed-func-container>li:not(:last-child){
    border-bottom: 1px solid #fff;
}
.item-top{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.item-bottom{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
a.func-item .fa,a.func-item .iconfont-yitala{
    display: block;
    font-size: 20px;
}
a.func-item{
    display: block;
    height: 100%;
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: 11px;
    letter-spacing: 0;
    line-height: 14px;
    background:#df5c53 none repeat scroll 0 0;
}
a.func-item:hover{
    color: #fff;
    letter-spacing: 2px;
    opacity: 0.8;
    cursor: pointer;

}
a.func-item.item-cart:hover,a.func-item.item-top:hover{
    opacity: 1;
}
a.item-service{
    z-index: 190;
    position: relative;
}
a.item-cart i.iconfont-yitala{
    font-size: 27px;
}
a.item-cart{
    padding: 17px 0 0 0;
    position: relative;
    z-index: 200;
}
a.item-close{
    position: relative;
    z-index: 200;
    display: none;
}
a.item-cart .cart-number-items{
    height: 18px;
    top: 3px;
    right: 3px;
    background-color: rgba(255,255,255,0.9);
    color: #df5c53;
    font-weight: bold;
    width: 18px;
    box-shadow: 0 0 4px rgba(255,255,255,0.8);
}
a.item-service{
    padding-top: 10px;
}
a.item-service i.iconfont-yitala{
    margin-bottom: 5px;
    font-size: 30px;
}
.QR-text{
    color: #333;
    font-size: 16px;
    text-align: center;
    padding-right: 45px;
    /* color: black; */
    margin-top: 10px;
}
.service-box,.cart-box{
    position: fixed;
    right: 30px;
    bottom:76px;
    -webkit-transition: -webkit-transform .2s;
    transition: transform .2s, -webkit-transform .2s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    will-change: transform;
    backface-visibility: hidden;
    z-index: 199;
}
.service-box{
    bottom: 121px;
    z-index: 189;
}
.service-box .wrapper,.cart-box .wrapper{
    position: relative;
    overflow: hidden;
    height: 40px;
    width: 40px;
    border-radius: 4px;
    -webkit-transition: height .4s .1s, width .4s .1s, box-shadow .3s;
    transition: height .4s .1s, width .4s .1s, box-shadow .3s;
    -webkit-transition-timing-function: cubic-bezier(0.67, 0.17, 0.32, 0.95);
    transition-timing-function: cubic-bezier(0.67, 0.17, 0.32, 0.95);
    background: #ffffff;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.17);
    pointer-events: auto;
}
.service-box .wrapper{

}
.cart-open .cart-box .wrapper{
    height: 400px;
    width: 420px;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
.service-open .service-box .wrapper{
    padding: 8px 10px 10px 8px;
    height: 332px;
    width: 300px;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
.cart-open .item-cart,.service-open .item-service{
    display: none;
}
.cart-open .item-close,.service-open .item-close{
    display: block;
}
.cart-open .cart-box-wrapper:before,.service-open .service-box-wrapper:before{
    opacity: 1;
    visibility: visible;
}
.service-box-wrapper:before{
    content: '';
    position: fixed;
    z-index: 188;  /** 紧跟着cart-box **/
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .4s, visibility .4s;
    transition: opacity .4s, visibility .4s;
}
.cart-box-wrapper:before{
    content: '';
    position: fixed;
    z-index: 49;  /** 紧跟着cart-box **/
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .4s, visibility .4s;
    transition: opacity .4s, visibility .4s;
}
.cart-box .wrapper header{
    color: #333;
    line-height: 45px;
    padding: 0 15px;
    border-bottom: 1px solid #e6e6e6;
}
.cart-box .wrapper header .cart-icon{
    font-size: 20px;
}
.cart-box-body{
    padding: 20px 20px 40px 20px;
    max-height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
}
.cart-box-body ul{
    padding: 0px;
}
.cart-box-body ul li{
    display: block;
    padding: 0px;
    margin-bottom: 15px;
}
.cart-box-body ul li>*{
    display: inline-block;
}
.cart-box-body .product-image a{
    display: block;
}
.cart-box-body .product-image img{
    width: 80px;
    height: 108px;
}
.cart-box-body .product-details,.cart-box-body .product-remove{
    text-align: left;
}
.cart-box-body .product-details{
    width: 170px;
    text-align: left;
    color: #333;
    padding-left: 10px;
}
.product-details{
    vertical-align: middle;
}
.product-details span{
    display: block;
    line-height: 30px;
    font-size: 16px;
}
.product-price{
    padding: 0;
    width: 80px;
}
.product-remove{
    color: #333;
}
.product-remove:hover{
    cursor: pointer;
    color: #df5c53;
}
.cart-box-footer{
    position: absolute;
    bottom: 0;
    line-height: 44px;
    background-color: #fff;
    width: 100%;
    box-shadow: -4px 0 4px rgba(0,0,0,0.4);
    border-left: 4px solid #df5c53;
    color: #333;
    text-align: center;
    padding-right: 40px;
}
.cart-box-footer:hover{
    cursor: pointer;
}
.cart-box-footer:hover *{
    color: #df5c53!important;
}
a.checkout{
     -webkit-transition: all .2s;
     transition: all .2s;
}
a.checkout i.fa-arrow-right{
    display: inline-block;
    font-size: 20px;
    opacity: 1;
    width: 30px;
}
.cart-box-footer:hover i.fa-arrow-right{

}
.item-close{
    font-size: 30px;
    padding-top: 13px;
}
.cart-background{
    padding: 50px;
    text-align: center;
}
.cart-empty{
    color: #aaa;
    font-size: 100px;
}
.cart-background .tips{
    color: #aaa;
}