<footer class="footer footer-style_1">
    <div class="container">
        <div class="footer-top">
            <div class="row">
                <div class="col-sm-2">
                    <div class="logo-footer">
                        <a href="index.htm">
                            <img src="../../../../assets/img/logo-v2-small.png"  alt="X Shop"> </a>
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="menu-footer footer-center">
                        <ul class="menu">
                            <li class="menu-item"><a href="pages/about-us.htm">关于我们</a></li>
                            <li class="menu-item"><a href="blogs/news.htm">博客</a></li>
                            <li class="menu-item"><a href="collections.htm">团队</a></li>
                            <li class="menu-item"><a href="pages/contact.htm" >联系</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="social-footer footer-right">
                        <ul class="socials">
                            <li><a href="" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bot">
            <div class="text-center row">
                <div class="copyright"> © 2017 WEIWEI网络技术有限公司 版权所有 </div>
            </div>
        </div>
    </div>

    <!-- Fixed items position -->
    <div class="fixed-func-items">
        <ul class="fixed-func-container" >
            <li [ngClass]="{'service-open':serviceOpen}">
                <a class="func-item item-top item-service" (click)="toggleServiceBox()">
                    <i class="iconfont-yitala">&#xe626;</i>
                    客服
                </a>
                <a class="func-item item-top item-close" (click)="toggleServiceBox()">
                    <i class="iconfont-yitala cart-close">&#xe629;</i>
                </a>
                <div class="service-box-wrapper">
                    <div class="service-box">
                        <div class="wrapper">
                            <div class="QR-code">
                                <img src="http://oflt40zxf.bkt.clouddn.com/service.png" alt="二维码">
                            </div>
                            <h3 class="QR-text">微信扫二维码加店主咨询～</h3>
                        </div>
                    </div>
                </div>
            </li>
            <li class="cart-li" [ngClass]="{'cart-open':cartOpen}">
                <a class="func-item item-cart" (click)="toggleCartBox()">
                    <i class="iconfont-yitala cart-icon">&#xe608;</i>
                    <span class="cart-number-items count cartCount"> {{cartNumber}}</span>
                </a>
                <a class="func-item item-close" (click)="toggleCartBox()">
                    <i class="iconfont-yitala cart-close">&#xe629;</i>
                </a>
                <div class="cart-box-wrapper">
                    <div class="cart-box" id="cart-box">
                        <div class="wrapper">
                            <header>
                                <i class="iconfont-yitala cart-icon">&#xe608;</i>
                                <span>购物车</span>
                                <span class="push-right">
                                （
                                <span class="text-orange"> {{cartProducts.length}} </span>
                                ）
                            </span>
                            </header>
                            <div class="cart-box-body">
                                <div class="cart-background" *ngIf="cartProducts.length == 0">
                                    <i class="iconfont-yitala cart-empty">
                                        &#xe622;
                                    </i>
                                    <h3 class="tips">购物车还没有商品～</h3>
                                </div>
                                <ul>
                                    <li class="product" *ngFor="let item of cartProducts" [@productInOut]="in">
                                        <div class="product-image">
                                            <a href="#0"><img [src]="item.images|filterImage" alt="图片"></a>
                                        </div>
                                        <div class="product-details">
                                            <span>{{item.name}}</span>
                                            <span>{{item.brand}}</span>
                                        </div>
                                        <div class="product-price">
                                            <span class="money"><em class="rmb">¥</em>{{item.discount?item.price*item.discount/100:item.price}}</span>
                                        </div>
                                        <div class="product-remove" (click)="removeProduct(item)">
                                            <i class="fa fa-trash-o"></i>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="cart-box-footer">
                                <a class="checkout" (click)="closeCartBox()" [routerLink]="['/cart']">
                                    去结账
                                    <span class="money"><em class="rmb">¥</em>{{cartTotalPrice}}</span>
                                    <i class="fa fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </li>
            <li>
                <a class="func-item item-bottom" (click)="scrollTop()">
                    <span class="icon-top fa fa-angle-up"></span> Top
                </a>
            </li>
        </ul>
    </div>
    <!-- End Fixed items position -->

</footer>