<div class="full-screen">
    <div class="login-page-wrapper">
        <div class="login-container">
            <div class="login-page-logo">
                <a [routerLink]="['/home']">
                    <img src="../../../assets/img/logo11.png"  alt="yitala store">
                </a>
            </div>
            <div class="login-error" *ngIf="error"><i class="iconfont-yitala">&#xe620;</i>{{error}}</div>
            <form class="form-horizontal login" [formGroup]="loginForm" (ngSubmit)="submitForm(loginForm.value)">
                <div class="form-group" [ngClass]="{'has-error':loginForm.controls['phoneNO'].dirty && (loginForm.controls['phoneNO'].hasError('required') || loginForm.controls['phoneNO'].hasError('validatePhoneNO'))}">
                    <label for="inputEmail3" class="col-sm-2 control-label">账号</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail3" [formControl]="loginForm.controls['phoneNO']" placeholder="手机号">
                        <span class="text-danger input-error-tips" *ngIf="loginForm.controls['phoneNO'].dirty && loginForm.controls['phoneNO'].hasError('validatePhoneNO')">*请输入有效的手机号码</span>
                    </div>
                </div>
                <div class="form-group" [ngClass]="{'has-error':loginForm.controls['password'].dirty && loginForm.controls['password'].hasError('required')}">
                    <label for="inputPassword3" class="col-sm-2 control-label">密码</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="inputPassword3" [formControl]="loginForm.controls['password']" placeholder="密码">
                        <span class="text-danger input-error-tips" *ngIf="loginForm.controls['password'].dirty && loginForm.controls['password'].hasError('required')">*请输入密码</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-3D" [disabled]="loginForm.invalid">登录</button>
                    </div>
                </div>
                <p class="links"><i class="iconfont-yitala">&#xe61d;</i>还没有账号？<a [routerLink]="['/home']">前往注册</a></p>
                <p class="links"><i class="iconfont-yitala">&#xe61d;</i>暂不登录，<a [routerLink]="['/home']">回到主页</a>？</p>
            </form>
        </div>
    </div>
</div>
