
.login-page-wrapper{
    width: 350px;
    color: #666;
    position: absolute;
    top:calc(50% - 300px);
    left:calc(50% - 175px);
    text-align: center;
}
.login-page-logo img{
    width: 300px;
}
.login .form-group{
    margin-bottom: 35px;
}
input{
    width: 100%;
    padding: 6px 12px;
    display: block;
    line-height: 1.214em;
    height: 45px;
    border-radius: 4px!important;
    box-shadow: 0 0 57px rgba(0,0,0,0.14)!important;
}
.login .form-row{
    text-align: left;
}
.login-container{
    height: 100%;
}
.btn-3D{
    padding: 15px 56px;
    border: none;
    background: #fff;
    color: #666;
    text-transform: uppercase;
    white-space: nowrap;
    font: 16px/1.2em Ubuntu, sans-serif;
    font-weight: bold;
    -webkit-border-radius: 25px!important;
    -moz-border-radius: 25px!important;
    border-radius: 25px!important;
    -webkit-box-shadow: 0px 0px 57px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0px 0px 57px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 0px 57px rgba(0, 0, 0, 0.14);
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -webkit-transition: all 200ms linear;
}
button.btn-3D:focus{
    outline: 0px!important;
}
button.btn-3D:hover{
    color: #fa6b6b;
}
.login input:focus{
    border-color: #ddd;
}
.has-error .form-control {
    border-color: #df5c53!important;
    box-shadow: 0 0 57px rgba(233,92,83,0.14)!important;
}
.input-error-tips{
    color: #df5c53;
    width: 100%;
    display: inline-block;
    text-align: left;
    font-size: 14px;

}
.login-error{
    color: #df5c53;
    margin-bottom: 20px;
    margin-left: 64px;
    margin-right: 1px;
}
.login-error .iconfont-yitala{
    font-size: 40px;
    left: 110px;
    float: left;
}
.links{
    padding-left: 65px;
    text-align: left;
    margin-bottom: 5px;
}
.links .iconfont-yitala{
    margin-right: 5px;
}
.links a{
    color: #df5c53;
    cursor: pointer;
    opacity: 0.85;
}
.links a:hover{
    opacity: 1;
}
.auth-type-text{
    margin-bottom: 20px;
    padding-left: 50px;
}