<div class="site-content-inner detail-product">
    <div class="container">
        <div class="row">

            <!-- Main content -->
            <div id="primary" class="content-area col-xs-12 col-sm-12 col-md-12">
                <div id="main" class="site-main">
                    <div class="product-single">
                        <div class="product-content-single">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 pc-hide">
                                    <product-zoom [images]="product.imagesArray"></product-zoom>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="single-product-content">
                                        <div class="product-title">
                                            <span class="product-property">商品：</span>
                                            <div class="product-property-info">{{product.name}}</div>
                                            <div class="clear"></div>
                                        </div>
                                        <div class="product-title">
                                            <span class="product-property">品牌：</span>{{product.brand}}
                                        </div>
                                        <div class="product-price">
                                            <span class="product-property">价格：</span>
                                            <span class="price">
                                                <span class="money rmb" *ngIf="product.discount" >
                                                    <del class="small-price"><i class="rmb">¥</i>{{product.price}}</del>
                                                </span>
                                                <span class="money">
                                                    <em class="rmb">¥</em>{{product.discount?product.price*product.discount/100:product.price}}
                                                    <label *ngIf="product.discount" class="discount">限时促销</label>
                                                </span>
                                            </span>
                                        </div>
                                        <div class="product-desc">
                                            <span class="product-property">商品描述：</span>
                                            <div class="product-property-info">{{product.description}}</div>
                                            <div class="clear"></div>
                                        </div>

                                        <div class="product-status">
                                            <span class="product-property">库存：</span>
                                            <span class="in-stock">
                                                <i class="fa fa-check"></i> 1
                                            </span>
                                        </div>
                                        <!-- Rate code -->
                                        <!--<div class="star-rating"> <span class="spr-badge" id="spr_badge_6441314053" data-rating="0.0"><span class="spr-starrating spr-badge-starrating"><i class="spr-icon spr-icon-star-empty" style=""></i><i class="spr-icon spr-icon-star-empty" style=""></i><i class="spr-icon spr-icon-star-empty" style=""></i><i class="spr-icon spr-icon-star-empty" style=""></i><i class="spr-icon spr-icon-star-empty" style=""></i></span><span class="spr-badge-caption">No reviews</span> </span>-->
                                        <!--</div>-->
                                        <!-- End rate-->
                                        <!-- Descriptioin product-->
                                        <div class="product-status">
                                            <span class="product-property">浏览次数：</span>
                                            <span class="in-stock">
                                                <i class="fa fa-eye"></i> {{product.scanTimes}}
                                            </span>
                                        </div>
                                        <!--<div class="product-list-action" style="margin-left: 62px;">-->
                                            <!--<div class="mb15">-->
                                                <!--<div class="item-action">-->
                                                    <!--<a class="email_to_friend" href="#">-->
                                                        <!--<i class="fa fa-envelope-o"></i>分享给朋友-->
                                                    <!--</a>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <div class="add-to-cart">
                                            <add-to-cart [product]="product"></add-to-cart>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 mobile-hide">
                                    <product-zoom [images]="product.imagesArray"></product-zoom>
                                </div>
                            </div>
                        </div>
                        <div class="product-content-preview">
                            <div id="tab_product" class="tab-product-page">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active">
                                        <a href="#description" aria-controls="description" role="tab" data-toggle="tab" aria-expanded="false">详细信息</a>
                                    </li>
                                    <!--<li role="presentation" class="">-->
                                        <!--<a href="#addinformation" aria-controls="addinformation" role="tab" data-toggle="tab" aria-expanded="false">Additional Information</a>-->
                                    <!--</li>-->
                                    <!--<li role="presentation" >-->
                                        <!--<a href="#review" class="review_tab" aria-controls="review" role="tab" data-toggle="tab" aria-expanded="true">review</a>-->
                                    <!--</li>-->
                                </ul>
                                <!-- Tab panes -->
                                <div class="tab-content" style="opacity: 1">
                                    <div id="description" >
                                        <div class="box-content">
                                            <!--<div [innerHTML]="desc"  ></div>-->
                                            <div #descContainer></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div >
                            <h4 class="title-single-product">看看其他</h4>
                            <div style="margin-bottom: 20px;"></div>
                            <recommend-products [products]="recProducts" [showProducts]="recShowProducts" ></recommend-products>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

