<div class="site-content-inner detail-product">
    <div class="container">
        <div class="row">

            <!-- Main content -->
            <div id="primary" class="content-area col-xs-12 col-sm-12 col-md-12">
                <div id="main" class="site-main">
                    <div class="product-single">
                        <div class="product-content-single">
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="product-viewer">
                                        <img [imageZoom]="zoomedImageSrc" [src]="smallImageSrc" [maxZoomLevel] = "maxZoomLevel" [minZoomLevel] = "minZoomLevel"
                                             [lensHeight]="lensHeight" [lensWidth]="lensWidth" [allowZoom] = "allowZoom" >
                                    </div>

                                </div>
                                <div class="col-sm-7">

                                </div>
                            </div>
                        </div>
                        <div style="height: 300px;"></div>
                    </div>
                </div>
            </div>
            <!-- End Main content -->

        </div>
    </div>
</div>

