<div class="site-content-inner shop-cart">
    <div class="container">
        <div class="row">
            <div id="primary" class="content-area col-xs-12 col-sm-12 col-md-12">
                <div id="main" class="site-main">
                    <div class="mb30">
                        <h4>亲，您的订单已生成～，请按如下步骤完成支付，订单详情可以在<a [routerLink]="['/account/order']" class="text-orange">我的订单</a>中查看</h4>
                    </div>
                    <ul class="timeline">
                        <li>
                            <div class="timeline-badge bg-info">
                                <span>1</span>
                            </div>
                            <div class="timeline-panel">
                                <img alt="二维码" src="http://oflt40zxf.bkt.clouddn.com/service.png?imageView2/2/w/250/h/250">
                                <h4>加店主微信，与店主确认订单</h4>
                                <span>（如果已经加了直接联系就好啦～）</span>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-badge bg-orange">
                                  <span>2</span>
                            </div>
                            <div class="timeline-panel">
                                <h4>确认无误后微信付款</h4>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-badge bg-success">
                                   <span>3</span>
                            </div>
                            <div class="timeline-panel">
                                <h4>店主发货，买家等待收货</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>