<header id="header" class="header header-basic header-style_7 header-sticky menu-no-transparent">
    <div class="mobile-navbar" >
        <div class="mobilemenu dblclick" [ngClass]="{active: mobileMenu}" >
            <div class="mobilemenu-header">
                <div class="title">菜单</div>
                <a href="javascript:;" class="mobilemenu-toggle" (click)="closeModileMenu()"></a>
            </div>
            <div class="mobilemenu-content" >
                <ul class="mobile-nav">
                    <li (click)="closeModileMenu()"> <a [routerLink]="['/home']" routerLinkActive="active">主页<i class="fa fa-home"></i></a> </li>
                    <li class="mobile-second-menu">
                        <a  >商品分类</a>
                        <span class="arrow"></span>
                        <ul class="mobile-second-ul">
                            <li (click)="closeModileMenu()"><a [routerLink]="['/category/earring']" routerLinkActive="active"><i class="iconfont-yitala">&#xe618;</i>耳夹／耳钉</a></li>
                            <li (click)="closeModileMenu()"><a [routerLink]="['/category/necklace']" routerLinkActive="active"><i class="iconfont-yitala">&#xe699;</i>项链</a></li>
                            <li (click)="closeModileMenu()"><a [routerLink]="['/category/bracelet']" routerLinkActive="active"><i class="iconfont-yitala">&#xe61f;</i>手链</a></li>
                            <li (click)="closeModileMenu()"><a [routerLink]="['/category/ring']" routerLinkActive="active"><i class="iconfont-yitala">&#xe640;</i>戒子</a></li>
                            <li (click)="closeModileMenu()"><a [routerLink]="['/category/brooch']" routerLinkActive="active"><i class="iconfont-yitala">&#xe60b;</i>胸针</a></li>
                            <li (click)="closeModileMenu()"><a [routerLink]="['/category/bag']" routerLinkActive="active"><i class="iconfont-yitala">&#xe66b;</i>包包</a></li>
                            <li (click)="closeModileMenu()"><a [routerLink]="['/category/watch']" routerLinkActive="active"><i class="iconfont-yitala">&#xe628;</i>手表</a></li>
                            <li (click)="closeModileMenu()"><a [routerLink]="['/category/other']" routerLinkActive="active"><i class="iconfont-yitala">&#xe633;</i>其他</a></li>
                        </ul>
                    </li>
                    <li (click)="closeModileMenu()"> <a [routerLink]="['/blog']" routerLinkActive="active" >VINTAGE故事</a> </li>
                    <li (click)="closeModileMenu()"> <a href="https://shop111895571.taobao.com/shop/view_shop.htm?shop_id=111895571">淘宝店</a> </li>
                    <li (click)="closeModileMenu()"> <a [routerLink]="['/account/addressinfo']" routerLinkActive="active" >我的账户</a> </li>
                    <li (click)="closeModileMenu()"> <a [routerLink]="['/account/order']" routerLinkActive="active" >我的订单</a> </li>
                    <li (click)="closeModileMenu()" *showAuthed="false"> <a [routerLink]="['/auth/login']" routerLinkActive="active" >登录／注销</a> </li>
                    <li (click)="closeModileMenu()"> <a [routerLink]="['/contact']" routerLinkActive="active" >关于我们</a> </li>
                    <li (click)="logout();closeModileMenu()" *showAuthed="true"> <a >退出</a> </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="header-top">
        <div class="container">
            <div class="header-top-content">
                <div class="header-top-left">
                    <span class="number-phone"><i class="iconfont-yitala">&#xe683;</i> + 15059153753</span>
                </div>
                <!-- Header Right -->
                <div class="header-top-right">
                    <!-- Navigation Top Bar  -->
                    <nav class="top-bar-navigation" id="top-bar-navigation">
                        <ul class="top_bar-nav">
                            <li class="menu-item"><a [routerLink]="['/account/addressinfo']" routerLinkActive="active">我的账户</a></li>
                            <li class="menu-item">
                                <a [routerLink]="['/account/order']" routerLinkActive="active">
                                我的订单
                                <span class="cart-number-items count cartCount order-num" *ngIf="orderNumber"> {{orderNumber}} </span>
                                </a>
                            </li>
                            <li class="menu-item"><a [routerLink]="['/cart']" routerLinkActive="active">我的购物车</a></li>
                            <li class="menu-item" *showAuthed="false">
                                <a [routerLink]="['/auth/login']" *showAuthed="false">登陆 / 注册</a>
                            </li>
                            <li class="menu-item">
                                <span *showAuthed="true">您好，</span>
                                 <span class="account-info" *showAuthed="true">
                                     <i class="iconfont-yitala">&#xe600;</i>
                                     <a [routerLink]="['/account/addressinfo']">
                                         <span class="text-orange">{{firstname?firstname:username}}</span>
                                     </a>
                                </span>
                                <a (click)="logout()" *showAuthed="true">退出</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- End Header call -->
            </div>
        </div>
    </div>
    <div class="main-header">
        <div class="container">
            <div class="row">
                <!-- Header Logo -->
                <div class="col-sm-2 header-logo">
                    <div class="logo">
                        <a href="/"> <img src="../../../../assets/img/logo-v3.png" alt="X Shop"> </a>
                        <a href="javascript:;" class="mobile-navigation top-mobile-navigation pc-hide" (click)="openMobileMenu()">
                            <span class="button-icon">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </span>
                        </a>
                    </div>

                </div>
                <!-- End Logo -->
                <div class="col-sm-10 header-nav mobile-hide">
                    <!-- Header Right -->
                    <div class="header-right">

                        <!-- Cart Element -->
                        <a class="header-cart header-element" [routerLink]="['/cart']">
                            <a href="/cart">
                                <span class="icon-cart header-icon" data-togole="header-cart">
                                <!--<i class="fa fa-shopping-cart"></i>-->
                                    <i class="iconfont-yitala cart-icon">&#xe608;</i>
                                </span> </a>
                            <span class="cart-number-items count cartCount" *ngIf="cartNumber"> {{cartNumber}} </span>
                            <div id="header-cart" class="header-element-content" style="display: none;">
                                <h4 class="title-element">You have no items in your shopping cart.</h4>
                                <div class="mini-cart-bottom">
                                    <p class="buttons"> <a href="/collections/all" class="button">Continue shopping</a> </p>
                                </div>
                            </div>
                        </a>
                        <!-- End Cart Element -->
                        <!-- Button Menu Mobile -->
                        <a href="javascript:;" class="mobile-navigation mobile-hide" (click)="openMobileMenu()">
                            <span class="button-icon">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </span>
                        </a>
                        <!-- End Button Menu Mobile -->
                    </div>

                    <!-- Main Nav Menu -->
                    <nav id="primary-navigation" class="site-navigation">
                        <div id="main-menu" class="main-nav main-menu">
                            <ul class="menu-nav">
                                <li class="menu-item megamenu-menu-item">
                                    <a [routerLink]="['/home']" routerLinkActive="active">主页</a>
                                </li>
                                <li class="menu-item menu-item-has-children"  [ngClass]="{'show-active':categorySubMenuStatus}"
                                    (mouseenter)="toggleCategory(true)" (click)="toggleCategory(true)" (mouseleave)="toggleCategory(false)">
                                    <a >商品分类</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item"><a (click)="gotoCategory('earring',$event)"><i class="iconfont-yitala">&#xe618;</i>耳夹／耳钉</a></li>
                                        <li class="menu-item"><a (click)="gotoCategory('necklace',$event)"><i class="iconfont-yitala">&#xe699;</i>项链</a></li>
                                        <li class="menu-item"><a (click)="gotoCategory('bracelet',$event)"><i class="iconfont-yitala">&#xe61f;</i>手链</a></li>
                                        <li class="menu-item"><a (click)="gotoCategory('ring',$event)"><i class="iconfont-yitala">&#xe640;</i>戒指</a></li>
                                        <li class="menu-item"><a (click)="gotoCategory('brooch',$event)"><i class="iconfont-yitala">&#xe60b;</i>胸针</a></li>
                                        <li class="menu-item"><a (click)="gotoCategory('bag',$event)"><i class="iconfont-yitala">&#xe66b;</i>包包</a></li>
                                        <li class="menu-item"><a (click)="gotoCategory('watch',$event)"><i class="iconfont-yitala">&#xe628;</i>手表</a></li>
                                        <li class="menu-item"><a (click)="gotoCategory('other',$event)"><i class="iconfont-yitala">&#xe633;</i>其他</a></li>
                                    </ul>
                                </li>
                                <!--<li class="menu-item menu-item-has-children ">-->
                                    <!--<a href="#">优惠促销</a>-->
                                <!--</li>-->
                                <li class="menu-item ">
                                    <a [routerLink]="['/blog']" routerLinkActive="active">vintage故事</a>
                                </li>
                                <li class="menu-item ">
                                    <a href="https://shop111895571.taobao.com/shop/view_shop.htm?shop_id=111895571" target="_blank">淘宝店</a>
                                </li>
                                <li class="menu-item  last ">
                                    <a [routerLink]="['/contact']" routerLinkActive="active">关于我们</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>