<div [ngSwitch]="status">
    <a class="button add-to-cart toadd" *ngSwitchCase="'unadd'" (click)="addToCart()">
        <i class="iconfont-yitala">&#xe6c8;</i>添加到购物车
    </a>
    <a class="button add-to-cart adding" *ngSwitchCase="'adding'">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
        <span style="margin-left: 30px;">添加中...</span>
    </a>
    <a class="button add-to-cart added" *ngSwitchCase="'added'">
        <i class="iconfont-yitala">&#xe603;</i>已添加
    </a>
    <a class="button add-to-cart" *ngSwitchDefault (click)="addToCart()">
        <i class="iconfont-yitala">&#xe6c8;</i>添加到购物车
    </a>
    <div class="text-light-orange animated bounceIn" *ngIf="error">{{error}}</div>
</div>

