<div class="home-container">
    <div class="carousel-response">
        <ngb-carousel>
            <ng-template ngbSlide>
                <img src="http://ojp8ivtxn.bkt.clouddn.com/home/slide_1.jpg" alt="Random first slide">
                <div class="carousel-caption">
                    <h1>要复古，就要纯粹！</h1>
                    <p class="second-h">纯粹源于西方的vintage古董首饰，Love vintage，be pure.</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img src="http://ojp8ivtxn.bkt.clouddn.com/home/slide_2.jpg" alt="Random second slide">
                <div class="carousel-caption">
                    <h1>精选孤品，历史传承！</h1>
                    <p class="second-h">Yintage is one of China's best sources for vintage and antique costume jewelry.</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img src="http://ojp8ivtxn.bkt.clouddn.com/home/slide_3.jpg" alt="Random second slide">
                <div class="carousel-caption">
                    <h1>盈千金之价，兼四海之珍！</h1>
                    <p class="second-h">Any preciousness, are unusual thing in the world！</p>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>

    <section id="section24">
        <div class="container">
            <div class="icons-box-wrap">
                <div class="row wow fadeInUp">
                    <div class="col-sm-4">
                        <!-- Icon Box -->
                        <div class="icon-box icon-box-style2"> <span class="font-icon">
                      <span class="flaticon-rocket"></span> </span>
                            <div class="icon-box-content">
                                <h5 class="icon-box-title"><a href="#">Vintage NO.1</a></h5>
                                <p class="icon-box-desc">中国第一家专业的Vintage平台</p>
                            </div>
                        </div>
                        <!-- End Icon Box -->
                    </div>
                    <div class="col-sm-4">
                        <!-- Icon Box -->
                        <div class="icon-box icon-box-style2"> <span class="font-icon">
                      <span class="flaticon-lock"></span> </span>
                            <div class="icon-box-content">
                                <h5 class="icon-box-title"><a href="#">价格最优惠</a></h5>
                                <p class="icon-box-desc">最优惠价格？别找了就是这！</p>
                            </div>
                        </div>
                        <!-- End Icon Box -->
                    </div>
                    <div class="col-sm-4">
                        <!-- Icon Box -->
                        <div class="icon-box icon-box-style2"> <span class="font-icon">
                      <span class="flaticon-passage-of-time"></span> </span>
                            <div class="icon-box-content">
                                <h5 class="icon-box-title"><a href="#">臻品</a></h5>
                                <p class="icon-box-desc">我们是靠谱的vintage店主</p>
                            </div>
                        </div>
                        <!-- End Icon Box -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <!-- 推荐 -->
            <div class="title-description-block has-underline text-center" >
                <h3 class="title-block" data-size="28px"><i class="fa fa-truck text-orange mr10"></i>新到宝贝</h3></div>

            <recommend-products [products]="newProducts" [showProducts]="newShowProducts" ></recommend-products>
        </div>
    </section>
    <section>
        <div class="container">
            <!-- 推荐 -->
            <div class="title-description-block has-underline text-center" >
                <h3 class="title-block" data-size="28px">
                    <i class="fa fa-thumbs-o-up text-orange mr10"></i>推荐宝贝
                </h3>
            </div>
            <recommend-products [products]="recProducts" [showProducts]="recShowProducts" ></recommend-products>
        </div>
    </section>
    <section>
        <div class="container">
            <!-- 优惠 -->
            <div class="title-description-block has-underline text-center" >
                <h3 class="title-block" data-size="28px"><i class="fa fa-cut text-orange mr10"></i>优惠宝贝</h3>
            </div>
            <recommend-products [products]="discountProducts" [showProducts]="discountShowProducts" ></recommend-products>
        </div>
    </section>

</div>
