<div class="carousel-response">
    <ngb-carousel>
        <template ngbSlide>
            <img src="../../assets/img/slide_1.jpg" alt="Random first slide">
            <div class="carousel-caption">
                <h3>First slide label</h3>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
        </template>
        <template ngbSlide>
            <img src="../../assets/img/slide_2.jpg" alt="Random second slide">
            <div class="carousel-caption">
                <h3>Second slide label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </template>
        <template ngbSlide>
            <img src="../../assets/img/slide_3.jpg" alt="Random second slide">
            <div class="carousel-caption">
                <h3>Second slide label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </template>
    </ngb-carousel>
</div>

<section id="section24">
    <div class="container">
        <div class="icons-box-wrap">
            <div class="row wow fadeInUp">
                <div class="col-sm-4">
                    <!-- Icon Box -->
                    <div class="icon-box icon-box-style2"> <span class="font-icon">
                      <span class="flaticon-rocket"></span> </span>
                        <div class="icon-box-content">
                            <h5 class="icon-box-title"><a href="#">FREE DELIVERY</a></h5>
                            <p class="icon-box-desc">Free on all order over $80.00</p>
                        </div>
                    </div>
                    <!-- End Icon Box -->
                </div>
                <div class="col-sm-4">
                    <!-- Icon Box -->
                    <div class="icon-box icon-box-style2"> <span class="font-icon">
                      <span class="flaticon-lock"></span> </span>
                        <div class="icon-box-content">
                            <h5 class="icon-box-title"><a href="#">STORE SECURED</a></h5>
                            <p class="icon-box-desc">Secure all your payments</p>
                        </div>
                    </div>
                    <!-- End Icon Box -->
                </div>
                <div class="col-sm-4">
                    <!-- Icon Box -->
                    <div class="icon-box icon-box-style2"> <span class="font-icon">
                      <span class="flaticon-passage-of-time"></span> </span>
                        <div class="icon-box-content">
                            <h5 class="icon-box-title"><a href="#">MONEY SAFE</a></h5>
                            <p class="icon-box-desc">30 Days money guarantee</p>
                        </div>
                    </div>
                    <!-- End Icon Box -->
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <!--.title-description-block-->
        <div class="title-description-block has-underline text-center" >
            <h3 class="title-block" data-size="28px">新品推荐</h3> </div>

        <div class="products-wraps products-wraps-style2 columns-4" >
            <div class="product-item">
                <div class="product-media">
                    <div class="product-images-wrap">
                        <figure class="product-first-figure">
                            <a href="#">
                                <img alt="Espadrilles 2" src="../../assets/img/product_demo.jpeg"> </a>
                        </figure>
                    </div>
                </div>
                <div class="product-info">
                    <h3 class="product-name">
                        <a href="/products/espadrilles-2">Espadrilles 2</a>
                    </h3>
                    <span class="price">
                        <span class="money">$130.00</span>
                    </span>
                    <div class="product-button-action">
                        <a href="#" class="button add_to_cart_button" title="Add to Cart">Add to Cart</a>
                        <a class="wishlist-login  button add_to_wishlist " href="javascript:void(0)" title="Add to wishlist">
                            <span class="ti-heart"></span>
                        </a>
                        <a class="compare button" title="Compare product" href="#">
                            <i class="flaticon-reload"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="product-item">
                <div class="product-media">
                    <div class="product-images-wrap">
                        <figure class="product-first-figure">
                            <a href="#">
                                <img alt="Espadrilles 2" src="../../assets/img/product_demo.jpeg"> </a>
                        </figure>
                    </div>
                </div>
                <div class="product-info">
                    <h3 class="product-name">
                        <a href="/products/espadrilles-2">Espadrilles 2</a>
                    </h3>
                    <span class="price">
                        <span class="money">$130.00</span>
                    </span>
                    <div class="product-button-action">
                        <a href="#" class="button add_to_cart_button" title="Add to Cart">Add to Cart</a>
                        <a class="wishlist-login  button add_to_wishlist " href="javascript:void(0)" title="Add to wishlist">
                            <span class="ti-heart"></span>
                        </a>
                        <a class="compare button" title="Compare product" href="#">
                            <i class="flaticon-reload"></i>
                        </a>
                    </div>
                </div>
            </div><div class="product-item">
                <div class="product-media">
                    <div class="product-images-wrap">
                        <figure class="product-first-figure">
                            <a href="#">
                                <img alt="Espadrilles 2" src="../../assets/img/product_demo.jpeg"> </a>
                        </figure>
                    </div>
                </div>
                <div class="product-info">
                    <h3 class="product-name">
                        <a href="/products/espadrilles-2">Espadrilles 2</a>
                    </h3>
                    <span class="price">
                        <span class="money">$130.00</span>
                    </span>
                    <div class="product-button-action">
                        <a href="#" class="button add_to_cart_button" title="Add to Cart">Add to Cart</a>
                        <a class="wishlist-login  button add_to_wishlist " href="javascript:void(0)" title="Add to wishlist">
                            <span class="ti-heart"></span>
                        </a>
                        <a class="compare button" title="Compare product" href="#">
                            <i class="flaticon-reload"></i>
                        </a>
                    </div>
                </div>
            </div><div class="product-item">
                <div class="product-media">
                    <div class="product-images-wrap">
                        <figure class="product-first-figure">
                            <a href="#">
                                <img alt="Espadrilles 2" src="../../assets/img/product_demo.jpeg"> </a>
                        </figure>
                    </div>
                </div>
                <div class="product-info">
                    <h3 class="product-name">
                        <a href="/products/espadrilles-2">Espadrilles 2</a>
                    </h3>
                    <span class="price">
                        <span class="money">$130.00</span>
                    </span>
                    <div class="product-button-action">
                        <a href="#" class="button add_to_cart_button" title="Add to Cart">Add to Cart</a>
                        <a class="wishlist-login  button add_to_wishlist " href="javascript:void(0)" title="Add to wishlist">
                            <span class="ti-heart"></span>
                        </a>
                        <a class="compare button" title="Compare product" href="#">
                            <i class="flaticon-reload"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <p class="buttons-link" style="margin-top: 10px">
            <a href="/collections/all?view=left_grid" class="button-light button-smaller">Shop more</a>
        </p>
    </div>
</section>
<section>
    <div class="container">
        <!--.title-description-block-->
        <div class="title-description-block has-underline text-center" >
            <h3 class="title-block" data-size="28px">新品推荐</h3> </div>

        <div class="products-wraps products-wraps-style2 columns-4" >
            <div class="product-item">
                <div class="product-media">
                    <div class="product-images-wrap">
                        <figure class="product-first-figure">
                            <a href="#">
                                <img alt="Espadrilles 2" src="../../assets/img/product_demo.jpeg"> </a>
                        </figure>
                    </div>
                </div>
                <div class="product-info">
                    <h3 class="product-name">
                        <a href="/products/espadrilles-2">Espadrilles 2</a>
                    </h3>
                    <span class="price">
                        <span class="money">$130.00</span>
                    </span>
                    <div class="product-button-action">
                        <a href="#" class="button add_to_cart_button" title="Add to Cart">Add to Cart</a>
                        <a class="wishlist-login  button add_to_wishlist " href="javascript:void(0)" title="Add to wishlist">
                            <span class="ti-heart"></span>
                        </a>
                        <a class="compare button" title="Compare product" href="#">
                            <i class="flaticon-reload"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="product-item">
                <div class="product-media">
                    <div class="product-images-wrap">
                        <figure class="product-first-figure">
                            <a href="#">
                                <img alt="Espadrilles 2" src="../../assets/img/product_demo.jpeg"> </a>
                        </figure>
                    </div>
                </div>
                <div class="product-info">
                    <h3 class="product-name">
                        <a href="/products/espadrilles-2">Espadrilles 2</a>
                    </h3>
                    <span class="price">
                        <span class="money">$130.00</span>
                    </span>
                    <div class="product-button-action">
                        <a href="#" class="button add_to_cart_button" title="Add to Cart">Add to Cart</a>
                        <a class="wishlist-login  button add_to_wishlist " href="javascript:void(0)" title="Add to wishlist">
                            <span class="ti-heart"></span>
                        </a>
                        <a class="compare button" title="Compare product" href="#">
                            <i class="flaticon-reload"></i>
                        </a>
                    </div>
                </div>
            </div><div class="product-item">
            <div class="product-media">
                <div class="product-images-wrap">
                    <figure class="product-first-figure">
                        <a href="#">
                            <img alt="Espadrilles 2" src="../../assets/img/product_demo.jpeg"> </a>
                    </figure>
                </div>
            </div>
            <div class="product-info">
                <h3 class="product-name">
                    <a href="/products/espadrilles-2">Espadrilles 2</a>
                </h3>
                <span class="price">
                        <span class="money">$130.00</span>
                    </span>
                <div class="product-button-action">
                    <a href="#" class="button add_to_cart_button" title="Add to Cart">Add to Cart</a>
                    <a class="wishlist-login  button add_to_wishlist " href="javascript:void(0)" title="Add to wishlist">
                        <span class="ti-heart"></span>
                    </a>
                    <a class="compare button" title="Compare product" href="#">
                        <i class="flaticon-reload"></i>
                    </a>
                </div>
            </div>
        </div><div class="product-item">
            <div class="product-media">
                <div class="product-images-wrap">
                    <figure class="product-first-figure">
                        <a href="#">
                            <img alt="Espadrilles 2" src="../../assets/img/product_demo.jpeg"> </a>
                    </figure>
                </div>
            </div>
            <div class="product-info">
                <h3 class="product-name">
                    <a href="/products/espadrilles-2">Espadrilles 2</a>
                </h3>
                <span class="price">
                        <span class="money">$130.00</span>
                    </span>
                <div class="product-button-action">
                    <a href="#" class="button add_to_cart_button" title="Add to Cart">Add to Cart</a>
                    <a class="wishlist-login  button add_to_wishlist " href="javascript:void(0)" title="Add to wishlist">
                        <span class="ti-heart"></span>
                    </a>
                    <a class="compare button" title="Compare product" href="#">
                        <i class="flaticon-reload"></i>
                    </a>
                </div>
            </div>
        </div>
        </div>
        <p class="buttons-link" style="margin-top: 10px">
            <a href="/collections/all?view=left_grid" class="button-light button-smaller">Shop more</a>
        </p>
    </div>
</section>
<section>
    <div class="container">
        <!--.title-description-block-->
        <div class="title-description-block has-underline text-center" >
            <h3 class="title-block" data-size="28px">新品推荐</h3> </div>

        <div class="products-wraps products-wraps-style2 columns-4" >
            <div class="product-item">
                <div class="product-media">
                    <div class="product-images-wrap">
                        <figure class="product-first-figure">
                            <a href="#">
                                <img alt="Espadrilles 2" src="../../assets/img/product_demo.jpeg"> </a>
                        </figure>
                    </div>
                </div>
                <div class="product-info">
                    <h3 class="product-name">
                        <a href="/products/espadrilles-2">Espadrilles 2</a>
                    </h3>
                    <span class="price">
                        <span class="money">$130.00</span>
                    </span>
                    <div class="product-button-action">
                        <a href="#" class="button add_to_cart_button" title="Add to Cart">Add to Cart</a>
                        <a class="wishlist-login  button add_to_wishlist " href="javascript:void(0)" title="Add to wishlist">
                            <span class="ti-heart"></span>
                        </a>
                        <a class="compare button" title="Compare product" href="#">
                            <i class="flaticon-reload"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="product-item">
                <div class="product-media">
                    <div class="product-images-wrap">
                        <figure class="product-first-figure">
                            <a href="#">
                                <img alt="Espadrilles 2" src="../../assets/img/product_demo.jpeg"> </a>
                        </figure>
                    </div>
                </div>
                <div class="product-info">
                    <h3 class="product-name">
                        <a href="/products/espadrilles-2">Espadrilles 2</a>
                    </h3>
                    <span class="price">
                        <span class="money">$130.00</span>
                    </span>
                    <div class="product-button-action">
                        <a href="#" class="button add_to_cart_button" title="Add to Cart">Add to Cart</a>
                        <a class="wishlist-login  button add_to_wishlist " href="javascript:void(0)" title="Add to wishlist">
                            <span class="ti-heart"></span>
                        </a>
                        <a class="compare button" title="Compare product" href="#">
                            <i class="flaticon-reload"></i>
                        </a>
                    </div>
                </div>
            </div><div class="product-item">
            <div class="product-media">
                <div class="product-images-wrap">
                    <figure class="product-first-figure">
                        <a href="#">
                            <img alt="Espadrilles 2" src="../../assets/img/product_demo.jpeg"> </a>
                    </figure>
                </div>
            </div>
            <div class="product-info">
                <h3 class="product-name">
                    <a href="/products/espadrilles-2">Espadrilles 2</a>
                </h3>
                <span class="price">
                        <span class="money">$130.00</span>
                    </span>
                <div class="product-button-action">
                    <a href="#" class="button add_to_cart_button" title="Add to Cart">Add to Cart</a>
                    <a class="wishlist-login  button add_to_wishlist " href="javascript:void(0)" title="Add to wishlist">
                        <span class="ti-heart"></span>
                    </a>
                    <a class="compare button" title="Compare product" href="#">
                        <i class="flaticon-reload"></i>
                    </a>
                </div>
            </div>
        </div><div class="product-item">
            <div class="product-media">
                <div class="product-images-wrap">
                    <figure class="product-first-figure">
                        <a href="#">
                            <img alt="Espadrilles 2" src="../../assets/img/product_demo.jpeg"> </a>
                    </figure>
                </div>
            </div>
            <div class="product-info">
                <h3 class="product-name">
                    <a href="/products/espadrilles-2">Espadrilles 2</a>
                </h3>
                <span class="price">
                        <span class="money">$130.00</span>
                    </span>
                <div class="product-button-action">
                    <a href="#" class="button add_to_cart_button" title="Add to Cart">Add to Cart</a>
                    <a class="wishlist-login  button add_to_wishlist " href="javascript:void(0)" title="Add to wishlist">
                        <span class="ti-heart"></span>
                    </a>
                    <a class="compare button" title="Compare product" href="#">
                        <i class="flaticon-reload"></i>
                    </a>
                </div>
            </div>
        </div>
        </div>
        <p class="buttons-link" style="margin-top: 10px">
            <a href="/collections/all?view=left_grid" class="button-light button-smaller">Shop more</a>
        </p>
    </div>
</section>