<div class="site-content-inner">
    <div class="container">
        <div class="account-header">
            <a class="avatar">
                <img src="../../assets/img/account.png" alt="240">
            </a>
            <div class="user-info">
                <div class="name">{{firstname?firstname:username}}</div>
                <div class="phone">{{username}}</div>
            </div>
        </div>
        <ul class="nav customtab nav-tabs" >
            <li class="nav-item"><a [routerLink]="['/account/addressinfo']" routerLinkActive="active" class="nav-link" ><span class="visible-xs"><i class="ti-home"></i></span><span class="hidden-xs">收货地址</span></a></li>
            <li class="nav-item"><a [routerLink]="['/account/order']" routerLinkActive="active" class="nav-link" ><span class="visible-xs"><i class="ti-user"></i></span> <span class="hidden-xs">订单信息</span></a></li>
        </ul>
        <router-outlet></router-outlet>
    </div>
</div>


