.page-wrapper{
    padding: 15px;
}
.account-header{
    border-top: 1px solid #ececec;
    padding: 20px;
}
.account-header:after{
    content: " ";
    height: 0px;
    display: block;
    clear: both;
}
.avatar{
    float: left;
    width: 80px;
    height: 80px;
}

.avatar img {
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 50%;
}
.user-info{
    display: inline-block;
    padding: 10px 20px;
    float: left;
}
.user-info .name{
    font-size: 25px;
    color: #333;
}

.customtab.nav-tabs .nav-link {
    border-left: 0;
    border-top: 0;
    border-right: 0;
}

.customtab.nav-tabs .nav-link.active,.customtab.nav-tabs .nav-link.active:focus,.customtab.nav-tabs .nav-link:hover {
    border-bottom: 2px solid #df5c53;
    color: #df5c53
}
.customtab>li>a:focus, .customtab>li>a:hover{
    background-color: #fff;
}
